[Desktop Entry]
Type=Application
Name=XSensors
GenericName=Hardware Monitor
Comment=View hardware health
Icon=xsensors
Exec=/usr/local/bin/xsensors
Terminal=false
Categories=System;
Keywords=Sensors;Monitor;
